body{
  background-color: rgb(61, 61, 61);
}
.redondo{
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}

.noA{
  color:black;
}

a {
  color: white;
}

.logo{
  height: 35px;
  width: 35px;
  margin-top: 5px;
  margin-left: 3px;
}
.config{
  width: 30px;
  height: 30px;
}


