body {
  background-color: rgb(26, 174, 85);
}

.elSanti, .elKevin{
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.elSedes {
  width: 200px;
  height: 200px;
}

#divFotos {
  background-color: white;
  width: 50%;
  text-align: center;
   border-radius: 5px;
  padding: 3px;
  display:flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  justify-content: center;
  
}

#titulo {
  background-color: white;
  text-align: center;
  background-color: white;
  width: 50%;
  text-align: center;
   border-radius: 5px;
  padding: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  justify-content: center;
}

#divNav{
  text-align: center;
    background-color: white;
  text-align: center;
  background-color: white;
  width: fit-content;
  text-align: center;
   border-radius: 5px;
  padding: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  justify-content: center;
}