.redondo{
  width: 45px;
  height: 45px;

  margin-right: 5px;
}

.logo{
  height: 35px;
  width: 35px;
  margin-top: 5px;
  margin-left: 3px;
}

a:link, a:visited, a:active{
  text-decoration: none;
  color: white;
}

b{
  text-decoration: none;
}

body{
  background-color: rgb(61, 61, 61);
}

html,body{
  overflow-x: hidden;
}

.config{
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.logoindex{
  width: 200px;
  height: 200px;

}


#id{
  text-decoration: none;
  color: black;
}

.config{
  filter: invert(100%) url(#color-filter);
}

.caja-index {
    display: block;
    max-height: 300px;
  }

  .mascara{
      -webkit-mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/222579/bone300.svg);
    mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/222579/bone300.svg);
    mask-size: cover;
    background: black;
  }
